@charset "UTF-8";
* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Marola';
    src: url(../fontes/marola/marola.TTF);
    font-weight: normal;
}

:root {
    --fonte-principal: 'Marola', cursive;
}


body {
    background-color: rgba(255, 192, 203, 0.397);
}

#contato_geral {
    background-color: red;
    color: white;
    font: arial;
    display: flex;
    justify-content: center;
    text-align: left;
    align-content: left;
    padding: 0px;
    margin: auto;
    height: 35px;
}


#contato1 {
    color: white;
    font-size: 18px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 260px;
    padding-top: 4px;
}

#contato2 {
    color: white;
    font-size: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    min-width: 210px;
    padding-top: 1px;
    padding-left: 16px;
    
}
#contato2 a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: rgb(198, 237, 250);
    display: flex;
    justify-content: center;
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: none;
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    float: none;
    display: inline-block;
    margin: 0 5px;
    color: red;
    text-decoration: none;
    line-height: 40px;
    font-size: 15px;
    padding: 2px 5px;
    background-color: rgb(198, 237, 250);
    width: 150px;
    text-align: center;
}

nav ul li a:hover {
    font-style: italic;
    color: blue;
    background-color: rgba(250, 250, 250, 0.959);
    border-radius: 5px;
}

nav ul ul li a:hover {
    font-style: italic;
    color: blue;
    background-color: rgba(250, 250, 250, 0.959);
    border-radius: 0px;
}

nav ul ul {
    position: absolute;
    top: 44px;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}

nav ul ul li {
    position: relative;
    left: 0px;
    margin: 0px;
    width: 135px;
    float: none;
    display: list-item;
}

.fa-plus {
    margin-left: 40px;
    font-size: 15px;
}

.show,
.icon,
input {
    display: none;
}

.yoda1 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    visibility: visible;
    z-index: 0;
}

.yoda2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    opacity: 1;
    visibility: visible;
    z-index: 0;
}

.borda1 {
    border: solid 1px red;
    border-radius: 10%;
    margin-left: 20px;
}

.borda2 {
    border: solid 1px red;
    border-radius: 10%;
}

img.borda1 {
    width: 1000px;
    height: auto;
}

img.borda2 {
    width: 400px;
    height: auto;
}

.atendimento {
    color: black;
    opacity: 1;
    visibility: visible;
}

.estrutura_fisica {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 1000px;
    border: solid 1px rgba(255, 0, 0, 0.438);
    border-radius: 10px;
    background-color: lightblue;
    margin-bottom: 5px;
}

.horario {
    display: flexbox;
    justify-content: center;
    align-content: center;
    text-align: left;
    width: 800px;
    margin: auto;
    border: solid 1px red;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
    background-color: white;
    margin-top: 5px;
}

div .video {
    display: flexbox;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-top: 0px;
    margin-top: 5px;
    color: blue;
}

div .video h2 {
    padding-top: 10px;
    padding-bottom: 35px;
    ;
}

.horario h2 {
    padding-bottom: 10px;
    color: red;
    text-align: center;
}

.horario p {
    padding: 10px;
    color: blue;
    text-indent: 20px;
    text-align: justify;
}

.servicos_imgservicos {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 1px;
    max-width: 1000px;
    border: solid 1px rgba(255, 0, 0, 0.438);
    border-radius: 10px;
    background-color: lightblue;
    margin-bottom: 5px;
    margin-top: 5px;
}

.servicos {
    display: flexbox;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
    border: solid 1px red;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    background-color: white;
    margin-top: 5px;
    width: 800px;
}

.servicos_inter {
    padding-left: 10px;
}

.imgservicos {
    display: flexbox;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-top: 0px;
    margin-top: 5px;
    color: blue;
}

div.imgservicos h2 {
    padding-top: 10px;
    padding-bottom: 35px;
}

.servicos h2 {
    padding-bottom: 10px;
    color: blue;
    text-align: center;
}

.servicos h3 {
    padding-bottom: 10px;
    color: rgba(255, 0, 0, 0.945);
}

div.servicos p {
    padding-bottom: 5px;
    color: blue;
    text-indent: 20px;
}

div>iframe {
    border-radius: 10px;
    max-width: 600px;
}

#div_email {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    margin-top: 80px;
    z-index: 2;
}

#div_whatsapp {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    margin-top: 111px;
    z-index: 2;
}

#div_facebook {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    margin-top: 142px;
    z-index: 2;
}

#div_instagram {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    /* margin-top: 486px; */
    margin-top: 173px;
    z-index: 2;
}

#div_linkedin {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    margin-top: 184px;
    z-index: 2;
}

#div_youtube {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: absolute;
    /* margin:5px; */
    margin-top: 204px;
    z-index: 2;
}

#div_twitter {
    /* width:45px; */
    left: 0px;
    /*  height:250px; */
    position: fixed;
    /* margin:5px; */
    margin-top: 517px;
    z-index: 2;
}

div.politicaprivacidade {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    z-index: 3;
    background-color: lightgray;
    color: gray;
}

.politicaprivacidadeaceita {
    position: fixed;
    margin-top: 400px;
    margin-left: 10%;
    margin-right: 5%;
    z-index: 0;
    max-width: 740px;
    padding: 10px;
    text-indent: 10px;
    text-align: justify;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.localizador {
    display: flex;
}

.logo_localizacao {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 1000px;
    background-color: rgb(2, 2, 59);
    padding-top: 10px;
    border-radius: 10px;
}

.shihtzu_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 90%;
    margin-left: 4.3%;
}

.titulo {
    position: absolute;
    top: 10%;
    padding-bottom: 10px;
    width: 750px;
    z-index: 3;
    color: red;
}

.titulo h1 {
    font-family: var(--fonte-principal);
    font-size: 100px;
    padding-right: 130px;
}

.parag_1 {
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 650px;
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px;
    text-indent: 20px;
    border-radius: 10px;
    margin-left: -50px;
}

.parag_2 {
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: -50px;
    width: 700px;
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px;
    text-indent: 20px;
    border-radius: 10px;
    margin-left: 180px;
}

@media all and (max-width: 1000px) {
    body {
        padding: 0;
    }
    #contato_geral {
        background-color: red;
        color: white;
        font: arial;
        display: block;
        justify-content: center;
        text-align: center;
        align-content: center;
        padding: 0px;
        margin: auto;
        height: 55px;
    }

    #contato1 {
        color: white;
        font-size: 12px;
        display: block;
        justify-content: center;
        text-align: center;
        min-width: 260px;
    }

    span.divisor{
        color:red;
    }
    #contato2 {
        color: white;
        font-size: 14px;
        justify-content: center;
        text-align: center;
        min-width: 210px;
    }

    #contato2 a {
        color: white;
        text-decoration: none;
               
    }

    nav {
        background-color: rgb(198, 237, 250);
        display: flex;
        justify-content: left;
        z-index: 100;
        position: absolute;
        width: 200px;
        top: 90px;
        left: 100px;
    }
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    nav ul ul {
        position: static;
        border-top: none;
        display: none;
        float: none;
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .show {
        display: block;
        color: red;
        font-family: cursive;
        font-size: 15px;
        padding-left: 20px;
        line-height: 40px;
        width: 200px;
        cursor: pointer;
    }
    
    nav ul li a {
        width:184px;}

    nav ul li a:hover {
        color: blue;
        background-color: white;
        border-radius: 0%;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        text-align: center;
    }
    .show:hover {
        color: blue;
        font-style: italic;
        box-shadow: none;
        background-color: white;
        line-height: 36px;
    }
    .icon {
        display: block;
        color: blue;
        position: absolute;
        left: -95px;
        top: -30px;
        font-size: 25x;
        cursor: pointer;
        z-index: 120;
    }
    .icon:hover {
        color: red;
    }
    nav ul li a:hover {
        box-shadow: none;
        width: 200px;
        margin: 0;
    }
    .show+a,
    ul {
        display: none;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    /*.div2 {
background: url(/imagens/yoda_pq.jpg) no-repeat center center;
/*Se refere ao seu posicionamento nos eixos X e Y background-size: cover;height: 92vh;
/*Caso a resolução do monitor seja maior que a imagem} */
    .atendimento {
        color: black;
        opacity: 1;
        visibility: visible;
    }
    .horario_video {
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        padding: 15px;
        max-width: 360px;
        border: solid 1px rgba(255, 0, 0, 0.438);
        border-radius: 10px;
        background-color: lightblue;
    }
    .horario {
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 320px;
        margin: auto;
        border: solid 1px red;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 5px;
        background-color: white;
        margin-top: 5px;
    }
    div .video {
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 330px;
        margin: auto;
        padding-top: 0px;
        margin-top: 5px;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    div .video h2 {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .horario h2 {
        padding-bottom: 10px;
        color: red;
        text-align: center;
    }
    .horario h3 {
        padding-bottom: 10px;
        color: rgba(255, 0, 0, 0.945);
    }
    .horario p {
        padding-bottom: 5px;
        color: blue;
    }
    div>iframe {
        border-radius: 10px;
        max-width: 334px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .estrutura_fisica {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        padding: 10px;
        width: 340px;
        border: solid 1px rgba(255, 0, 0, 0.438);
        border-radius: 10px;
        background-color: lightblue;
        margin-bottom: 5px;
    }
    .servicos {
        display: flexbox;
        justify-content: center;
        align-content: center;
        text-align: justify;
        width: 330px;
        margin: auto;
        border: solid 1px red;
        border-radius: 10px;
        padding-top: 0px;
        padding: 10px;
        background-color: white;
        margin-top: 0px;
        text-indent: 20px;
        background-color: lightblue;
    }
    .servicos_inter {
        border: solid 1px red;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    .imgservicos {
        display: flexbox;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 360px;
        margin: auto;
        padding-top: 0px;
        margin-top: 5px;
        color: blue;
    }
    div .imgservicos h2 {
        padding-top: 10px;
        padding-bottom: 35px;
        ;
    }
    .servicos h2 {
        padding-bottom: 10px;
        color: blue;
        text-align: center;
    }
    .servicos h3 {
        padding-bottom: 10px;
    }
    .servicos p {
        padding-bottom: 5px;
        color: blue;
    }
    img.borda1 {
        width: 315px;
        height: 240px;
    }
    .borda2 {
        border-radius: 10%;
        padding: 10px 5px;
        border: 0;
    }
    img.borda2 {
        width: 300px;
        height: auto;
    }
    .logo_localizacao {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        width: 100px;
        background-color: transparent;
    }
    .imglocalizacao {
        display: flexbox;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 360px;
        margin: auto;
        padding-top: 0px;
        margin-top: 5px;
        color: blue;
        border-radius: 10px;
        background-color: rgb(2, 2, 59);
    }
    .titulo {
        position: absolute;
        top: 10%;
        padding-bottom: 10px;
        width: 360px;
        z-index: 3;
        color: red;
    }
    .titulo h1 {
        font-family: var(--fonte-principal);
        font-size: 33px;
        padding-right: 40px;
    }
    .parag_1 {
        font-size: 13px;
        text-align: center;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 230px;
        z-index: 3;
        color: white;
        background-color: rgba(0, 0, 0, 0.192);
        padding: 10px 5px;
        text-indent: 20px;
        border-radius: 10px;
        margin-left: -5px;
    }
    .parag_2 {
        font-size: 13px;
        text-align: center;
        position: absolute;
        top: 130px;
        left: -120px;
        width: 280px;
        z-index: 3;
        color: white;
        background-color: rgba(0, 0, 0, 0.192);
        padding: 10px;
        text-indent: 20px;
        border-radius: 10px;
        margin-left: 180px;
    }
    #div_email img {
        width: 25px;
        position: absolute;
        left: 0px;
        top: 20px;
        /*  height:250px; */
        /* margin:5px; */
        z-index: 2;
    }
    #div_whatsapp img {
        width: 25px;
        position: absolute;
        left: 0px;
        top: 15px;
        /*  height:250px; */
        /* margin:5px; */
        z-index: 2;
    }
    #div_facebook img {
        width: 25px;
        position: absolute;
        left: 0px;
        top: 10px;
        /*  height:250px; */
        /* margin:5px; */
        z-index: 2;
    }
    #div_instagram img {
        width: 25px;
        position: absolute;
        left: 0px;
        top: 5px;
        /*  height:250px; */
        /* margin:5px; */
        z-index: 2;
    }
    #div_youtube img {
        width: 25px;
        position: absolute;
        left: 0px;
        /*  height:250px; */
        /* margin:5px; */
        z-index: 2;
    }
    #div_linkedin {
        /* width:45px; */
        left: 0px;
        /*  height:250px; */
        position: absolute;
        /* margin:5px; */
        margin-top: 184px;
        z-index: 2;
    }
    #div_twitter {
        /* width:45px; */
        left: 0px;
        /*  height:250px; */
        position: fixed;
        /* margin:5px; */
        margin-top: 517px;
        z-index: 2;
    }
}