@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;   
}

:root {

    --cor0: #bbffd8a6;
    --cor1: #AEF2CC;
    --cor2: #8DF2B0;
    --cor3: #4ED98A;
    --cor4: #3DD973;
    --cor5: #247440;
    --cor6: #0f3a1e;

    --fonte-principal: 'Bebas Neue' , cursive;
    --fonte-androide: 'Android' , cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: auto;
}

p {
    margin: 5px 0px;
    font-size: 1em;
    line-height: 1.5em;
}

main {
    /*padding: 20px; */
    margin: auto;
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.378);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
    /*margin: auto; */
    
}

main img.pequena {
    display: block; /*para centralizar a imagem */
    max-width: 350px;     /*tem que ser um bloco*/
    margin: auto;   /*caso contrário, o margin auto*/
    
}                  


main a {
    background-color: var(--cor0);
    color: var(--cor6);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
}
picture {

    margin: auto;
} 

header {
    
    background-image: linear-gradient(to bottom , var(--cor1), var(--cor5));
    padding: 30px;
}
header  h1 {
    font-family: var(--fonte-principal) ;
    font-size: 2.5em;
    font-weight: normal;  /*Como todo H1 é Bold, */
    color: white;       /* estou alterando para Normal */  
    text-align: center;    
    padding: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.57);
}
header  p {
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.57);
    font-family: var(--fonte-padrao);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    padding-bottom: 8px;
    padding-left: 15px;
    }
nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 13px;
    text-shadow: 1px 1px 1px gray;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor3);
    text-decoration: inherit;
    border-radius: 4px;
    color: var(--cor6);
    text-shadow: none;
    font-size: 13px;
    font-weight: bold;
    transition-duration: 0.5s;
    padding-top: 3px;
    padding-bottom: 2px;
    
}

a.externo::after {
    content: "\1F517";
}
article > h2 {
    font-family: var(--fonte-androide);
    color: var(--cor6);
        font-weight: bold; 
    font-size: 1.4em;
}

article > h3 {
    font-family: var(--fonte-androide);
    color: var(--cor5);
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor2) , transparent);
    border-radius: 10px;
    font-weight: normal; 
    font-size: 1.2em;
}

article > p {
    text-align: justify;
    text-indent: 30px;
    padding: 7px;
}

div.video {
    background-color: green;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px ; /* para colar o vídeo na lateral */
    padding: 20px;
    position: relative; /* após isso, vou inserir padding-bottom de 50%*/
    padding-bottom: 56.8222%;
    
}

div > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    border-radius: 10px 10px 0px 0px;
    margin: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.378);

}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00a0'; /* site EMOJIPEDIA */
    padding: 38px 0px 10px 30px  ;
    font-size: 14px;
}

aside > p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}
footer {
    background-color: var(--cor6);
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
footer > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

footer > a:hover {
    text-decoration: underline;
    color: white;
}
strong {
    color: var(--cor6);
    
    
    
    
}


